@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html 
{
    scroll-behavior: smooth;
}
body
{
    background-color: $light-col;
    font-family: 'Unbounded', cursive;
    transition: all ease-in-out 300ms;
}

a
{
    text-decoration: none;
}
ul
{
    list-style: none;
}

// SCROLLBAR
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: $light-col;
}
::-webkit-scrollbar-thumb {
    background-color: $primary-col;
    border-radius: 50px;
}
::-webkit-scrollbar-button {
    display: none;
}



// BUTTON
.cbtn
{
    padding: 15px 30px;
    border-radius: 100px;
    color: $light-col;
    font-size: 16px;
    font-weight: 700;
    transition: all ease-in-out 300ms;
    border: none;
    &-w-arrow
    {
        display: inline-flex;
        gap: 10px;
        align-items: center;
    }
    &-primary
    {
        background-color: $primary-col;
        &:hover
        {
            background-color: $text-col;
        }
    }
    &-light
    {
        background-color: $light-col;
        &:hover
        {
            background-color: $text-col;
        }
    }
    &:hover
    {
        color: $light-col;
    }
    @include media('<=desktop')
    {
        padding: 10px 30px;
        &-w-arrow
        {
            img
            {
                width: 50px;
            }
        }
    }
    @include media('<=lg-phone')
    {
        font-size: 14px;
    }
}


// OVERLAY
.overlay
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $dark-col;
    opacity: 0.6;
    z-index: 1;
    transition: all ease-in-out 300ms;
}



// FOOTER
.footer__
{
    &main
    {
        &-wrap
        {
            background-color: $primary-col;
            padding: 15px 0;
        }
        &-inner
        {
            &-wrap
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include media('<=lg-phone')
                {
                    display: block;
                }
            }
        }
        &-logo
        {
            color: $light-col;
            font-weight: 400;
            a
            {
                color: $light-col;
                font-weight: 900;
                transition: all ease-in-out 300ms;
            }
            &-wrap
            {
                @include media('<=lg-phone')
                {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        &-links
        {
            a
            {
                color: $light-col;
                font-size: 14px;
                font-weight: 300;
                @include media('<=phone')
                {
                    font-size: 12px;
                }
            }
            &-wrap
            {
                @include media('<=lg-phone')
                {
                    display: flex;
                    justify-content: center;
                    ul 
                    {
                        padding: 0;
                    }
                }
                @include media('<=phone')
                {
                    ul
                    {
                        gap: 10px!important;
                    }
                }
            }
        }
    }
}



// PAGES' BANNER
.banner__
{
    &main
    {
        &-wrap
        {
            background: linear-gradient(0deg, rgba(0,0,0,0.5971638655462185) 100%, rgba(255,255,255,0) 100%), url('../assets/imgs/harlotte-noelle-98wpmltl5xo-unsplash.webp');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
        }
    }
    &content
    {
        &-wrap
        {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 80px 0;
        }
        &-title
        {
            font-size: 80px;
            color: $light-col;
            font-weight: 900;
        }
    }
}