.h__
{
    // BANNER
    &banner
    {
        &-btn
        {
            &-wrap
            {
                @include media('<=tablet')
                {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        &-wrap
        {
            overflow: hidden;
        }
        // LEFT
        &-left
        {
            &-wrap
            {
                padding-left: 40px;
                padding-bottom: 80px;
                padding-top: 130px;
                padding-right: 20px;
                @include media('<=desktop')
                {
                    padding: 100px 10px 80px 20px;
                }
                @include media('<=tablet')
                {
                    padding: 100px 20px 50px 20px;
                }
            }
        }
        &-heading
        {
            color: $text-col;
            font-size: 60px;
            font-weight: 700;
            line-height: 1em;
            span
            {
                color: $primary-col;
                font-weight: 900;
            }
            @include media('<=desktop')
            {
                font-size: 50px;
                br 
                {
                    display: none;
                }
            }
            @include media('<=tablet')
            {
                text-align: center;
            }
            @include media('<=lg-phone')
            {
                font-size: 40px;
            }
            @include media('<=phone')
            {
                font-size: 30px;
            }
        }
        &-subheading
        {
            color: $text-col;
            font-size: 16px;
            font-weight: 400;
            @include media('<=tablet')
            {
                text-align: center;
            }
            @include media('<=lg-phone')
            {
                font-size: 14px;
            }
        }

        // STEPS
        &-steps
        {
            &-inner
            {
                &-wrap
                {
                    position: relative;
                    border-radius: 5px;
                    overflow: hidden;
                    height: 150px;
                    cursor: default;
                    img
                    {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        border-radius: 5px;
                    }
                    &:hover
                    {
                        .h__banner-steps-heading
                        {
                            opacity: 0;
                        }
                        .h__banner-steps-subheading
                        {
                            opacity: 1;
                        }
                    }
                }
            }
            &-heading
            {
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $light-col;
                font-weight: 900;
                transition: all ease-in-out 300ms;
                z-index: 2;
                @include media('<=desktop')
                {
                    font-size: 16px;
                }
            }
            &-subheading
            {
                color: $light-col;
                font-size: 16px;
                font-weight: 700;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                line-height: 1em;
                opacity: 0;
                width: 100%;
                padding: 0 10px;
                transition: all ease-in-out 300ms;
                z-index: 2;
                @include media('<=desktop')
                {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }

        // RIGHT
        &-right
        {
            &-wrap
            {
                position: relative;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                height: 100%;
                .overlay
                {
                    opacity: 0.5!important;
                }
            }
            &-heading
            {
                &-wrap
                {
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                    @include media('<=tablet')
                    {
                        position: relative;
                    }
                }
                color: $light-col;
                font-size: 80px;
                font-weight: 900;
                z-index: 2;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                @include media('<=desktop')
                {
                    font-size: 60px;
                }
                @include media('<=lg-phone')
                {
                    font-size: 50px;
                }
                @include media('<=phone')
                {
                    font-size: 35px;
                }
                &-back
                {
                    color: $light-col;
                    font-size: 110px;
                    font-weight: 900;
                    z-index: 2;
                    position: absolute;
                    text-align: center;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%, -60%);
                    opacity: 0.2;
                    z-index: 1;
                    text-transform: uppercase;
                    @include media('<=desktop')
                    {
                        font-size: 80px;
                    }
                    @include media('<=lg-phone')
                    {
                        font-size: 60px;
                    }
                    @include media('<=phone')
                    {
                        font-size: 50px;
                    }
                }
            }
            &-slider
            {
                &-main
                {
                    &-wrap
                    {
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        @include media('<=desktop')
                        {
                            right: 10px;
                            bottom: 0;
                            z-index: 5;
                        }
                        @include media('<=tablet')
                        {
                            position: relative;
                            right: 0;
                            padding-top: 80px;
                            margin: 0;
                        }
                    }
                }
                z-index: 5;
                &-wrap
                {
                    padding-bottom: 80px;
                    @include media('<=lg-phone')
                    {
                        padding-bottom: 40px;
                    }
                }
            }
            &-slide
            {
                &-content
                {
                    width: 95%;
                    height: 100%;
                    position: relative;
                    border-radius: 5px;
                    .overlay
                    {
                        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 60%);
                        border-radius: 5px;
                    }
                }
                &-item
                {
                    height: 150px;
                    cursor: pointer;
                    display: flex!important;
                    justify-content: center;
                    &.slick-slide.slick-active.slick-current
                    {
                        .h__banner-right-slide-item-location-wrap
                        {
                            // animation: slideUp 500ms linear;
                            transition: all ease-in-out 300ms;
                            top: 50%;
                            left: 50%;
                            bottom: auto;
                            transform: translate(-50%, -50%);
                        }
                        .h__banner-right-slide-item-location
                        {
                            font-size: 18px;
                            text-transform: uppercase;
                            @include media('<=desktop')
                            {
                                font-size: 16px;
                            }
                        }
                        .overlay
                        {
                            transition: all ease-in-out 300ms;
                            opacity: 0.5!important;
                            background-color: $dark-col;
                        }

                        @keyframes slideUp {
                            0% 
                            {
                                bottom: 10px;
                                left: 10px;
                            }
                            100%
                            {
                                bottom: 200px;
                                left: 50px;
                            }
                        }
                    }
                    &-wrap
                    {
                        height: 100%;
                    }
                    &-img
                    {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                    &-location
                    {
                        &-wrap
                        {
                            position: absolute;
                            bottom: 10px;
                            left: 10px;
                            z-index: 2;
                        }
                        font-size: 14px;
                        font-weight: 900;
                        color: $light-col;
                        margin-bottom: 0;
                        transition: all ease-in-out 300ms;
                    }
                }
            }
        }
    }

    // SEARCH FORM
    &search
    {
        &-form
        {
            &-wrap
            {
                z-index: 99;
                position: absolute;
                top: -4%;
                width: 100%;
                left: 0;
                @include media('<=tablet')
                {
                    position: absolute;
                    top: -20px;
                }
            }
            &-main
            {
                &-wrap
                {
                    display: flex;
                    justify-content: center;
                }
            }
            &-field
            {
                background-color: $light-col;
                position: relative;
                border-radius: 100px;
                width: 80%;
                padding: 10px;
                display: flex;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
                @include media('<=tablet')
                {
                    padding: 5px;
                }
                input.search-form 
                {
                    font-size: 16px;
                    margin: 0;
                    height: 100%;
                    border: none;
                    display: flex;
                    background-color: unset;
                    width: 100%;
                    margin-left: 5px;
                    &:focus, &:focus-visible
                    {
                        border: none;
                        outline: 0;
                    }
                    @include media('<=lg-phone')
                    {
                        font-size: 14px;
                    }
                }
                .search-btn
                {
                    background-color: $primary-col;
                    padding: 10px 20px;
                    border-radius: 50px;
                    color: $light-col;
                    font-weight: 900;
                    text-transform: uppercase;
                    display: inline-flex;
                    align-items: center;
                    gap: 10px;
                    border: 0;
                    outline: 0;
                    transition: all ease-in-out 300ms;
                    &:hover
                    {
                        background-color: $dark-col;
                    }
                    i 
                    {
                        display: none;
                    }
                    @include media('<=tablet')
                    {
                        font-size: 16px;
                    }
                    @include media('<=lg-phone')
                    {
                        padding: 10px;
                        span, img 
                        {
                            display: none;
                        }
                        i 
                        {
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    // POPULAR PLACES
    &popular
    {
        &-wrap
        {
            background-color: $primary-col;
            padding: 50px 0;
            position: relative;
            @include media('<=lg-phone')
            {
                padding: 30px 0;
            }
            @include media('<=tablet')
            {
                padding-top: 50px;
            }
        }
        &-heading
        {
            font-weight: 900;
            font-size: 30px;
            color: $light-col;
            &-wrap
            {
                padding-bottom: 30px;
                @include media('<=lg-phone')
                {
                    padding-bottom: 20px;
                }
            }
            @include media('<=lg-phone')
            {
                font-size: 25px;
            }
            @include media('<=phone')
            {
                font-size: 22px;
            }
        }
        &-subheading
        {
            margin-bottom: 0;
            color: $light-col;
            font-weight: 900;
            font-size: 18px;
            @include media('<=lg-phone')
            {
                font-size: 16px;
            }
            @include media('<=phone')
            {
                font-size: 14px;
            }
        }
        &-place
        {
            &-img
            {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                object-fit: cover;
                border-radius: 5px;
                &-wrap
                {
                    position: relative;
                    overflow: hidden;
                    border-radius: 5px;
                    @include media('<=tablet')
                    {
                        max-height: 200px;
                    }
                    .overlay
                    {
                        border-radius: 5px;
                    }
                    &:first-child
                    {
                        grid-area: 1 / 1 / 3 / 3;
                        .h__popular-place
                        {
                            &-location
                            {
                                &-wrap
                                {
                                    padding: 15px;
                                    @include media('<=desktop')
                                    {
                                        padding: 10px;
                                    }
                                }
                                font-size: 25px;
                                @include media('<=desktop')
                                {
                                    font-size: 20px;
                                }
                                &-country
                                {
                                    font-size: 18px;
                                    @include media('<=desktop')
                                    {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(2)
                    {
                        grid-area: 3 / 1 / 5 / 2;
                        .h__popular-place
                        {
                            &-location
                            {
                                &-wrap
                                {
                                    padding: 10px;
                                }
                                font-size: 16px;
                                @include media('<=desktop')
                                {
                                    font-size: 14px;
                                }
                                &-country
                                {
                                    font-size: 12px;
                                    @include media('<=desktop')
                                    {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(3)
                    {
                        grid-area: 3 / 2 / 5 / 3;
                        .h__popular-place
                        {
                            &-location
                            {
                                &-wrap
                                {
                                    padding: 10px;
                                }
                                font-size: 16px;
                                @include media('<=desktop')
                                {
                                    font-size: 14px;
                                }
                                &-country
                                {
                                    font-size: 12px;
                                    @include media('<=desktop')
                                    {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(4)
                    {
                        grid-area: 1 / 3 / 5 / 5;
                    }
                    &:nth-child(5)
                    {
                        grid-area: 1 / 5 / 3 / 7;
                        .h__popular-place
                        {
                            &-location
                            {
                                &-wrap
                                {
                                    padding: 15px;
                                    @include media('<=desktop')
                                    {
                                        padding: 10px;
                                    }
                                }
                                font-size: 25px;
                                @include media('<=desktop')
                                {
                                    font-size: 20px;
                                }
                                &-country
                                {
                                    font-size: 18px;
                                    @include media('<desktop')
                                    {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                    &:last-child
                    {
                        grid-area: 3 / 5 / 5 / 7;
                        .h__popular-place
                        {
                            &-location
                            {
                                &-wrap
                                {
                                    padding: 15px;
                                    @include media('<=desktop')
                                    {
                                        padding: 10px;
                                    }
                                }
                                font-size: 25px;
                                @include media('<=desktop')
                                {
                                    font-size: 20px;
                                }
                                &-country
                                {
                                    font-size: 18px;
                                    @include media('<=desktop')
                                    {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }

                    &:hover
                    {
                        .h__popular-place-location-wrap
                        {
                            opacity: 0;
                            transition: all ease-in-out 300ms;
                        }
                        .h__popular-place-img
                        {
                            transition: all linear 300ms;
                            transform: scale(1.3);
                        }
                        .overlay 
                        {
                            opacity: 0;
                            transition: opacity 500ms linear;
                        }
                    }
                }

            }

            &-main
            {
                &-wrap
                {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    @include media('<=tablet')
                    {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                    }
                }
            }

            &-location
            {
                color: $light-col;
                font-size: 30px;
                font-weight: 900;
                margin-bottom: 0;
                @include media('<=desktop')
                {
                    font-size: 25px;
                }
                @include media('<=tablet')
                {
                    font-size: 25px!important;
                }
                @include media('<=phone')
                {
                    font-size: 22px!important;
                }
                &-wrap
                {
                    z-index: 2 ;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 100%;
                    padding: 20px;
                    text-align: center;
                    transform: translate(-50%, -50%);
                    @include media('<=desktop')
                    {
                        padding: 10px;
                    }
                }
                &-country
                {
                    font-size: 18px;
                    font-weight: 900;
                    color: $light-col;
                    text-transform: uppercase;
                    @include media('<=desktop')
                    {
                        font-size: 16px;
                    }
                    @include media('<=tablet')
                    {
                        font-size: 16px!important;
                    }
                    @include media('<=phone')
                    {
                        font-size: 14px!important;
                    }
                }
            }
        }
    }

    // DISCOVER
    &discover
    {
        &-wrap
        {
            padding: 50px 0;
            @include media('<=lg-phone')
            {
                padding: 30px 0;
            }
        }
        &-header
        {
            &-wrap
            {
                display: flex;
                justify-content: space-between;
                align-items: end;
                padding-bottom: 30px;
                @include media('<=lg-phone')
                {
                    padding-bottom: 20px;
                    flex-wrap: wrap;
                    flex-direction: row;
                }
            }
        }
        &-heading
        {
            font-weight: 900;
            font-size: 30px;
            color: $primary-col;
            margin-bottom: 0;
            @include media('<=lg-phone')
            {
                font-size: 25px;
            }
            @include media('<=phone')
            {
                font-size: 22px;
            }
        }
        &-subheading
        {
            margin-bottom: 0;
            color: $text-col;
            font-weight: 900;
            font-size: 18px;
            @include media('<=lg-phone')
            {
                font-size: 16px;
            }
            @include media('<=phone')
            {
                font-size: 14px;
            }
        }
        &-arrows
        {
            &-wrap
            {
                display: flex;
                gap: 5px;
                align-items: center;
                @include media('<=lg-phone')
                {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                }
            }
            cursor: pointer;
            background-color: $light-col;
            transition: all ease-in-out 300ms;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            i 
            {
                color: $primary-col;
                transition: all ease-in-out 300ms;  
            }
            &:hover
            {
                background-color: $primary-col;
                i
                {
                    color: $light-col;
                }
            }
        }

        &-places
        {
            &-slide
            {
                height: 400px;
            }
        }
        &-place
        {
            &-content
            {
                &-wrap
                {
                    width: 95%;
                    height: 100%;
                    border-radius: 5px;
                    overflow: hidden;
                    position: relative;
                    a 
                    {
                        position: relative;
                        height: 100%;
                        display: flex;
                    }
                    .overlay
                    {
                        width: 100%;
                        background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 80%);
                    }
                    @include media('<=lg-phone')
                    {
                        width: 100%;
                    }
                    &:hover 
                    {
                        .overlay-info-wrap
                        {
                            left: 20px;
                            h1 , p
                            {
                                animation: changeTxt 400ms linear;
                            }
                        }
                    }
                    .overlay-info-wrap
                    {
                        position: absolute;
                        z-index: 2;
                        bottom: 10px;
                        left: 10px;
                        width: 100%;
                        transition: all ease-in-out 300ms;
                        h1 
                        {
                            color: $light-col;
                            font-size: 16px;
                            margin-bottom: 0;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                        p 
                        {
                            color: $light-col;
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &-img
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    // PACKAGES
    &packages
    {
        &-wrap
        {
            padding: 50px 0;
            @include media('<=lg-phone')
            {
                padding: 30px 0;
            }
        }
        &-heading
        {
            font-weight: 900;
            font-size: 30px;
            color: $primary-col;
            margin-bottom: 0;
            @include media('<=lg-phone')
            {
                font-size: 25px;
            }
            @include media('<=phone')
            {
                font-size: 22px;
            }
        }
        &-subheading
        {
            margin-bottom: 0;
            color: $text-col;
            font-weight: 900;
            font-size: 18px;
            @include media('<=lg-phone')
            {
                font-size: 16px;
            }
            @include media('<=phone')
            {
                font-size: 14px;
            }
        }

        &-level
        {
            &-nav
            {
                &-wrap
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    @include media('<=lg-phone')
                    {
                        padding: 20px 0;
                    }
                }
                &-inner
                {
                    &-wrap
                    {
                        background-color: $primary-col;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        width: 40%;
                        padding: 10px;
                        border-radius: 100px;
                        @include media('<=desktop')
                        {
                            width: 100%;
                        }
                        @include media('<=lg-phone')
                        {
                            gap: 5px;
                            padding: 5px;
                        }
                    }
                }
                padding: 10px 30px;
                border-radius: 100px;
                transition: all ease-in-out 300ms;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                @include media('<=lg-phone')
                {
                    padding: 5px 20px;
                }
                &-txt
                {
                    color: $light-col;
                    font-weight: 900;
                    transition: all ease-in-out 300ms;
                    font-size: 16px;
                    @include media('<=tablet')
                    {
                        font-size: 14px;
                    }
                    @include media('<=phone')
                    {
                        font-size: 12px;
                    }
                }
                &:hover, &.active
                {
                    background-color: $light-col;
                    .h__packages-level-nav-txt
                    {
                        color: $primary-col;
                    }
                }
            }

            &-content
            {
                &-wrap
                {
                    display: none;
                    &.active
                    {
                        display: block;
                    }
                }
                &-img
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                    &-wrap
                    {
                        height: 100%;
                        max-height: 200px;
                        position: relative;
                        transition: all ease-in-out 300ms;
                        overflow: hidden;
                        border-radius: 15px;
                        &:hover 
                        {
                            .overlay-place
                            {
                                bottom: 30px;
                            }
                            .overlay-listing-count
                            {
                                bottom: 10px;
                            }
                            .h__packages-level-content-img
                            {
                                transition: all linear 600ms;
                                transform: scale(1.2);
                            }
                            .overlay
                            {
                                background: linear-gradient(0deg, rgb(0, 0, 0, 0.9) 50%, rgba(255,255,255,0) 80%);
                            }
                        }
                        a 
                        {
                            height: 100%;
                            width: 100%;
                            display: flex;
                        }
                        .overlay
                        {
                            border-radius: 15px;
                            background: linear-gradient(0deg, rgb(0, 0, 0) 50%, rgba(255,255,255,0) 80%);
                            transition: all ease-in-out 300ms;
                        }
                        .overlay-place
                        {
                            position: absolute;
                            bottom: 15px;
                            left: 50%;
                            transform: translateX(-50%);
                            font-weight: 900;
                            color: $light-col;
                            text-transform: uppercase;
                            font-size: 18px;
                            z-index: 2;
                            transition: all ease-in-out 300ms;
                        }
                        .overlay-listing-count
                        {
                            position: absolute;
                            bottom: -50px;
                            left: 50%;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            transform: translateX(-50%);
                            color: $light-col;
                            font-size: 14px;
                            font-weight: 600;
                            z-index: 2;
                            transition: all ease-in-out 300ms;
                        }
                    }
                }
                &-heading
                {
                    font-size: 25px;
                    font-weight: 900;
                    color: $primary-col;
                    @include media('<=tablet')
                    {
                        font-size: 20px;
                    }
                    @include media('<=lg-phone')
                    {
                        font-size: 18px;
                    }
                }
                &-desc
                {
                    &-wrap
                    {
                        @include media('<=lg-phone')
                        {
                            padding-top: 10px;
                        }
                    }
                    padding-left: 0;
                    li
                    {
                        font-size: 16px;
                        font-weight: 400;
                        color: $text-col;
                        margin-bottom: 2px;
                        &::before
                        {
                            font-family: 'Fontawesome';
                            content: "\f543";
                            margin-right: 5px;
                            color: $primary-col;
                        }
                        @include media('<=tablet')
                        {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    // BLOGS
    &blogs
    {
        &-wrap
        {
            padding: 50px 0;
            @include media('<=lg-phone')
            {
                padding: 30px 0;
            }
        }
        &-header
        {
            &-wrap
            {
                display: flex;
                justify-content: space-between;
                align-items: end;
                padding-bottom: 30px;
                @include media('<=lg-phone')
                {
                    padding-bottom: 20px;
                    flex-wrap: wrap;
                }
            }
        }
        &-heading
        {
            font-weight: 900;
            font-size: 30px;
            color: $primary-col;
            margin-bottom: 0;
            @include media('<=lg-phone')
            {
                font-size: 25px;
            }
            @include media('<=phone')
            {
                font-size: 22px;
            }
        }
        &-subheading
        {
            margin-bottom: 0;
            color: $text-col;
            font-weight: 900;
            font-size: 18px;
            @include media('<=lg-phone')
            {
                font-size: 16px;
            }
            @include media('<=phone')
            {
                font-size: 14px;
            }
        }
        &-btn
        {
            background-color: $primary-col;
            color: $light-col;
            font-size: 14px;
            font-weight: 400;
            padding: 10px 20px;
            border-radius: 100px;
            transition: all ease-in-out 300ms;
            @include media('<=lg-phone')
            {
                padding: 5px 15px;
            }
            img 
            {
                width: 50px;
                margin-left: 5px;
            }
            &:hover
            {
                color: $light-col;
                background-color: $text-col;
            }
            &-wrap
            {
                @include media('<=lg-phone')
                {
                    padding-top: 10px;
                    display: flex;
                }
            }
        }

        &-content
        {
            &-img
            {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 5px;
                &-wrap
                {
                    height: 200px;
                    width: 100%;
                    position: relative;
                    a 
                    {
                        width: 100%;
                        height: 100%;
                        .overlay
                        {
                            border-radius: 5px;
                            opacity: 0;
                            transition: all ease-in-out 300ms;
                        }
                        .overlay-icon
                        {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 5;
                            color: $light-col;
                            font-size: 22px;
                            opacity: 0;
                            transition: all ease-in-out 300ms;
                            i 
                            {
                                display: block;
                                text-align: center;
                            }
                            span 
                            {
                                font-weight: 700;
                                text-transform: uppercase;
                                font-size: 16px;
                            }
                        }
                    }
                    &:hover 
                    {
                        .overlay
                        {
                            opacity: 0.5;
                        }
                        .overlay-icon
                        {
                            opacity: 1;
                        }
                    }
                }
            }
            &-date
            {
                color: $text-col;
                font-weight: normal;
                font-size: 14px;
                margin: 10px 0;
                @include media('<=tablet')
                {
                    font-size: 10px;
                }
                @include media('<=lg-phone')
                {
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            }
            &-tag
            {
                font-weight: 700;
                color: $primary-col;
            }
            &-heading
            {
                color: $primary-col;
                font-size: 20px;
                font-weight: 700;
                @include media('<=tablet')
                {
                    font-size: 16px;
                }
                @include media('<=lg-phone')
                {
                    font-size: 18px;
                }
            }
        }
    }

    // CONTACT
    &contact
    {
        &-wrap
        {
            padding: 50px 0;
            @include media('<=lg-phone')
            {
                padding: 30px 0;
            }
        }
        &-heading
        {
            font-weight: 900;
            font-size: 30px;
            color: $primary-col;
            margin-bottom: 0;
            @include media('<=lg-phone')
            {
                font-size: 25px;
            }
            @include media('<=phone')
            {
                font-size: 22px;
            }
            &-wrap
            {
                margin-bottom: 20px;
            }
        }
        &-subheading
        {
            margin-bottom: 0;
            color: $text-col;
            font-weight: 900;
            font-size: 18px;
            @include media('<=lg-phone')
            {
                font-size: 16px;
            }
            @include media('<=phone')
            {
                font-size: 14px;
            }
        }

        // LEFT
        &-left
        {
            &-follow
            {
                &-links
                {
                    display: inline-flex;
                    align-items: center;
                    gap: 5px;
                    color: $text-col;
                    font-size: 16px;
                    font-weight: 700;
                    transition: all ease-in-out 300ms;
                    i
                    {
                        font-size: 25px;
                        color: $primary-col;
                    }
                    &:not(:last-child)
                    {
                        margin-bottom: 10px;
                    }
                    &:hover
                    {
                        color: $primary-col;
                    }
                    @include media('<=tablet')
                    {
                        display: block;
                    }
                    @include media('<=lg-phone')
                    {
                        display: inline-flex;
                    }
                    @include media('<=phone')
                    {
                        font-size: 14px;
                        i
                        {
                            font-size: 22px;
                        }
                    }
                }
                &-wrap
                {
                    margin-bottom: 20px;
                }
            }
        }

        // RIGHT
        &-right
        {
            &-wrap
            {
                @include media('<=tablet')
                {
                    padding-bottom: 30px;
                }
            }
        }
        &-form
        {
            &-btn
            {
                padding: 10px 20px!important;
                font-size: 14px!important;
                align-items: center;
                img
                {
                    width: 50px;
                }
                @include media('<=phone')
                {
                    padding: 8px 15px!important;
                }
            }
            &-input
            {
                &-desc
                {
                    font-size: 12px;
                    color: $dark-col;
                    font-weight: 400;
                    margin-top: 2px;
                    margin-bottom: 0;
                }
            }
            &-label
            {
                font-weight: 900;
                font-size: 16px;
                text-transform: uppercase;
                color: $primary-col;
                &-required
                {
                    color: $warning-col;
                    font-weight: 900;
                }
                @include media('<=phone')
                {
                    font-size: 14px;
                }
            }
        }
    }

}

@keyframes changeTxt {
    0%
    {
        font-style: italic;
    }
    100%
    {
        font-style: italic;
    }
}